body{
    background-color: #AAD4CF;
  }
  
  /* Top Section */
  .header-section{
    background-color: #D1E8E5;
    padding: 0;
  }
  
  .header-img{
    position: relative;
    width: 100%;
  }
  .img1{
    width: 100%;
  
  }
  .header-title{
    position: absolute;
    top: 60%;
  text-align: center;
  width: 100%;
  color: white;
  /* font-size: 3rem; */
  
  }
  
  /* .navbar ul{
    list-style: none;
  }
  
  .navbar li{
    display: in
  } */
  
  h4 a{
    text-decoration: none;
    color: black;
  }
  
  .nav1,.nav2{
    border-right: solid black 2px;
  }
  
  .nav1,.nav2,.nav3{
    margin-top: 3px;
  }
  
  
  /* Section story */
  
  .star-image{
    float: left;
    width: 300px;
    height: 300px;
    padding-right: 10px;
  
  }
  
  .text{
    text-align: justify;
    font-weight: bold;
  }
  
  .text-fact{
    text-align: justify;
    font-weight: bold;
    padding-left: 20px;
  }
  
  /* Section Contact */
  
  .form{
    border: 1px solid black;
  
  }
  .btn-submit{
    background: transparent;
    border: solid black 1px;
  }
  
  .btn-submit:hover{
    background: black;
    color: white;
    cursor: pointer;
  }
  
  .footer{
    text-align: right;
    font-size: 1.2rem;
    font-weight: bold;
  }
  